*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: bisque;
    color: aliceblue;
}

header h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color:maroon
  
}
main h2{
    color:  maroon;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    margin-top: 20px;

 }
 .img_container
 {
position: relative;
   width: 300px;
   height: 300px;
    border: 5px;
    border-radius: 10px;
    overflow: hidden;
   background-position: center;
   background-size: cover;
    background-image: url("images/cat1.jpg");
   
 }
 .img_container img
 {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height:200%;
    
 }
.button
{
    
    background-color: maroon;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    text-decoration-line: none;
    

}
.description{
    align-self: flex-start;
}
.description p
{
    margin-top: 20px;
    color: maroon;
    font-size: 25px;
    margin-left: 15px;
    
}
footer p
{
   font-size: 1.25rem;
    color: maroon;
    
}
footer{
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.button2 :hover{
    color: rgb(60, 119, 143);
}
